body{
    background-color: green;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.favorites{
    margin-right: 50px;
}

.favorites-list{
    background-color: black;
    color: white;
}