.scroll-bar::-webkit-scrollbar {
    display: block;
    overflow: auto;
    width: 6px;
    height: 8px;
    background-color: white;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 6px;
  }

  .scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: rgb(207, 64, 64);
}